/* Note: CSS are applied from top to bottom. Last rule winds. */
/* Method 1: External CSS Part 3*/
.external-css {
    color: #038C7F; /* Teal text color */
    background-color: #01403A; /* Dark Teal background color */
}

body, h1, h2, p, ul, li, a {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Helvetica, Arial, sans-serif; /* Set default font family */
}

body {
    background-color: #012626; /* Dark Teal background color */
}

h1 {
    color: #038C7F; /* Teal text color */
    font-size: 2em; /* 2x default font size */
    margin-bottom: 1em; /* Added space below the heading */
}

h2 {
    font-size: 1.5em; /* 1.5x default font size */
    color: #027368; /* Dark Green text color */
}

p {
    font-size: 16px; /* 16px default font size */
    color: #7f8c8d; /* Grayish-blue text color */
    margin-bottom: 12px; /* Adding Space Bottom margin */
}

p a {
    color: #f39c12; /* Gold Accent */
    text-decoration: none; /* No Underline */
}

ul {
    list-style-type: none; /* Remove default bullets */
    margin-left: 20px; /* Add left margin */
    margin-bottom: 12px; /* Adding Space Bottom margin */
}

ul li {
    margin-bottom: 5px; /* Adding Space Bottom margin */
    color: #7f8c8d; /* Grayish-blue text color */
}

/* Styling the unordered list within a div */
div ul {
    list-style-type: square; /* Square bullets */
}

.feature-card {
    border: 2px solid #7f8c8d; /* Grayish-blue border */
    padding: 20px; /* Add padding */
    margin: 20px; /* Add some space around margin */
    background-color: #f9f9f9; /* Light gray background color */
}

.feature-card h3 {
    font-size: 20px; /* 20px default font size */
    margin-bottom: 10px; /* Adding Space Bottom margin */
    color: #2c3e50; /* Dark blue text color */
}

.feature-card p {
    margin-bottom: 10px; /* Adding Space Bottom margin */
    color: #7f8c8d; /* Grayish-blue text color */
}

#special-feature {
    background-color: #fde3a7; /* Light Yellow background color */
    border-color: #f39c12; /* Gold Accent */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 0.1); /* Drop shadow */
}